*
{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    background-image: url("bg12.jfif");

}

.page-content{
    display: flex;
    position: relative;
}

.page-content .side-bar
{
    position: fixed;
    width: 250px;
    height: 100%;
    background: black;
    padding: 30px 0;
    background-color:#461220;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;

}



.page-content .side-bar h2
{
    color:white;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 30px;
}


.navigation-bar
{
    list-style: none;
}
.navigation-bar li
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;

}

.navigation-bar li:hover{
    background-color: #8C2F39;
    background-image: linear-gradient(to left,#461220  , #fed0bb8a);
}

.navigation-bar li a{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: block;
    color: white;
    margin-left: 20px;

}

.side-bar img{
    height: 200px;
    width: 160px;
    margin-left: 40px;
    border-radius: 50%;
}

.fa
{
    padding: 6px;
}


.navigation-bar li:hover a{
    color: #461220;
    padding-left: 20px;

}


.paragraph{
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-size:40px;
    color:white;
    margin-left: 300px;
    margin-top: 350px;
    text-align: center;
}
span{
    font-size: 50px;
}

.right-content .hireme{
    
        padding:10px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        background: rgba(0,0,0,0.3);
        color:white;
        border: 0.5px solid white;
        margin-left: 1000px;
    }
    .hireme:hover{
        color: #461220;
        background-image: linear-gradient(to left,#461220  , #fed0bb8a);
        opacity:1;
        cursor: pointer;
        border-radius: 6px;
    }
    @media only screen and (max-width:760px)
    {



        .page-content .side-bar
        {
         
            width: 100px;
        
        }
        
        
        
        .page-content .side-bar h2
        {
            color:white;
            text-align: center;
            margin-top: 12px;
            margin-bottom: 10px;
            font-size:15px;
        }
        
        
     
        .navigation-bar li
        {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 8px;
        
        }
        .navigation-bar li a{
            font-size: 11px;
            font-weight: bold;
            padding: 10px;
            display: block;
            color: white;
            margin-left: 0px;
        
        }
        
        .side-bar img{
            height: 100px;
            width: 80px;
            margin-left: 12px;
            border-radius: 50%;
        }
        
        .fa
        {
            padding: 1px;
        }
        .paragraph{
            display: inline-flex ;
            font-size:20px;
            color:white;
            margin-left: 110px;
            margin-top: 150px;
            text-align: center;
        }
        span{
            font-size: 26px;
        }
        .right-content .hireme{
            font-size: 1rem;
            margin-left: 210px;
        }

    }